/* 메인 내용 조정 */

    /* 캥거루쥐 사진과 글 상위속성 조정 */
    .cang {
        display: inline-flex;
        justify-content: center;
        text-align: center; 
        font-family: noto sans kr;
        font-weight: bold;
        font-size: 30px;
    }

    /* 각각의 박스 속성조정 */
    .cang > div {
        width: 500px;
        height: 500px;
        margin: 20px;    
    }

    /* 메인 첫번째 아이템 포지션 */
    .item {
        position: relative;
    }

    /* 각각의 이미지 속성조정  */
    .aa, .bb, .ff {
        display: block;
        margin-bottom: 10px;
        width: 500px;
        height: 400px;
        object-fit:  cover;
        box-shadow : 10px 10px 20px gray;    
    }

    /* 숨겨진 글자 속성 */
    .hi {
        font-weight: 50px;
        display : none;
        position: absolute;
        font-family: noto sans kr;
        pointer-events: none;
        font-weight:500;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; /* 이미지 위에 표시되도록 함 */
        color: rgba(255, 255, 255, 0.932); /* 글자 색상 */
    }

    /* 이미지 호버시 숨겨진글자 표시 */
    .item:hover .hi {
        display: block; 
    }

    /* 이미지 호버 효과 */
    .item:hover .aa, .item:hover .bb , .item:hover .ff {
        filter: brightness(60%); 
        transition: filter 0.5s ease; 
    }

    /* 텍스트 포인터모양 해제 */
    .title, .detail {
        pointer-events: none;
    }

    /* 두번째 문구 속성 조정 */
    .detail {
        font-size: 20px;
    }